$corFundoUm: #f3d334;
$corFundoUmBaixa: #e7c930c6;
$corFundoDois: #aa1414;
$corFundoDoisBaixa: #9d12128b;
$corFundoTres: #000714;
$corFundoTresBaixa: #000714c5;
$corTextoUm: #1D1716;
$corTextoDois: #E7D9D7;
$corFundoQuatro: #e7d9d7c1;